.bookmark--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 1.5rem;
  @media only screen and (max-width: 900px) {
    display: none;
  }
}
.black {
  color: black;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: $color-cyan-light;
  }
}
.special {
  opacity: 0.5;
}
