$color-gray: rgb(122, 122, 122);
$color-cyan: rgb(20, 123, 116);
$color-cyan-light: rgb(60, 180, 172);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$light-box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
